// Navigation code here

h1{
    text-align: center;
    font-size: 4.4rem;
}//closes the h1
nav{
    a{
        text-decoration: none;
        justify-content: space-between;
        margin: 15px;
        color: black;
    }//closes the a
    display:flex;
    justify-content: center;
    font-size: 1.6rem;
    

    
}//closes the nav